#loading-comp{
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate3d(0, 100%, 0);
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: $darksideBlue;
  z-index: 20;
  transition: all .6s ease-in-out .5s;

  &.active{
    transform: translate3d(0, 0, 0);
  }

  .loading-icon{

  }

  .loading-text{
    font-size: 3rem;
    font-weight: 100;
    color: white;
  }

    @keyframes lds-rolling {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  @-webkit-keyframes lds-rolling {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  .lds-rolling {
    position: relative;
  }
  .lds-rolling div,
  .lds-rolling div:after {
    position: absolute;
    width: 160px;
    height: 160px;
    border: 20px solid #a7f442;
    border-top-color: transparent;
    border-radius: 50%;
  }
  .lds-rolling div {
    -webkit-animation: lds-rolling 1s linear infinite;
    animation: lds-rolling 1s linear infinite;
    top: 100px;
    left: 100px;
  }
  .lds-rolling div:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .lds-rolling {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  }
}



.home-page{
  position: relative;
  display: grid;
  grid-template-columns: 15% 65% 20%;

  #left-menu{
    border-right: 2px solid #b2b5ba;

    .account-dropdown{
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      padding: 15px;
      position: relative;

      .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        // cursor: pointer;

        .fab{
          font-size: 2rem;
        }
      }

      .name {
        padding-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .fas .fa-chevron-down{
          font-size: .8rem;
        }
      }
    }

    .dropdown{
      position: absolute;
      bottom: -25px;
      left: 0;
      width: 100%;
      z-index: 10;
      background: white;
      box-shadow: $boxshadowbtns;
      transition: all .6s ease-in-out;
      visibility: hidden;
      opacity: 0;
      cursor: pointer;

      &.active{
        visibility: visible;
        bottom: -62px;
        opacity: 1;
      }


      nav{

        a{
          display: block;
          padding: 10px 15px;
          color: $htext;
        }
      }
    }
  }

  .groups{
    padding: 15px;

    .group{

      .title{
        padding: 10px 0;
        font-size: .8rem;
        font-weight: 700;
        text-transform: uppercase;
      }
      ul{
        li{
          color: #818387;
          font-size: .8rem;
          padding: 10px 0;
        }
      }
    }
  }

  #content-container{
    overflow: hidden;
    height: 800px;

    .content-area{
      box-sizing: content-box;
      width: 100%;
      height: 100%;
      overflow: auto;
      padding: 0 15px 0 7px;
    }

    .search-header{
      padding: 10px;
      position: relative;
      -webkit-box-shadow: 0px 0px 15px 0px rgba(191,191,191,1);
      -moz-box-shadow: 0px 0px 15px 0px rgba(191,191,191,1);
      box-shadow: 0px 0px 15px 0px rgba(191,191,191,1);

      input[type="text"]{
        margin-bottom: 0;
      }

      .search-box{
        margin: 0 auto;
        width: 60%;

        input[type="text"]{
          color: black;
          border: none;
          border-radius: 3px;
          font-size: 1.2rem;
          width: 100%;
          padding: 5px 15px;
        }
      }

      .icon-section{
        position: absolute;
        top: 15px;
        right: 0;
        font-size: 1.2rem;
        padding-right: 15px;

        & > div{
          display: inline-block;
          color: #797979;
          padding: 0 5px;
          position: relative;
        }

        .noti-number{
          display: none;
          position: absolute;
          background: $red;
          color: white;
          font-size: .6rem;
          top: -6px;
          right: -6px;
          padding: 2px 3px;
          border: 2px solid white;
          border-radius: 5px;

          &.active{
            display: block;
          }
        }
      }
    }

    .compose-section{
      margin: 0 auto;
      width: 600px;
      padding: 35px 0;
      position: relative;

      textarea{
        background: $textfield;
        width: 100%;
        height: 75px;
        border: none;
        border-radius: 4px;
        padding: 15px 30px;
        font-size: 1.2rem;
      }

      .user-img{
        background: url("https://tinyfac.es/data/avatars/8B510E03-96BA-43F0-A85A-F38BB3005AF1-500w.jpeg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 5px solid white;
        position: absolute;
        top: 20px;
        left: -15px;
      }

      .buttons{
        position: absolute;
        right: 15px;
        bottom: 20px;
        display: flex;
        padding-right: 10px;

        .button{
          background: white;
          height: 35px;
          width: 35px;
          margin-left: 15px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0px;
          font-size: 1rem;
          box-shadow: $boxshadowbtns;
          color: $htext;

          &.send-btn{
            color: white;
            background: rgba(1,120,255,1);
            background: -moz-linear-gradient(-45deg, rgba(1,120,255,1) 0%, rgba(50,173,255,1) 100%);
            background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(1,120,255,1)), color-stop(100%, rgba(50,173,255,1)));
            background: -webkit-linear-gradient(-45deg, rgba(1,120,255,1) 0%, rgba(50,173,255,1) 100%);
            background: -o-linear-gradient(-45deg, rgba(1,120,255,1) 0%, rgba(50,173,255,1) 100%);
            background: -ms-linear-gradient(-45deg, rgba(1,120,255,1) 0%, rgba(50,173,255,1) 100%);
            background: linear-gradient(135deg, rgba(1,120,255,1) 0%, rgba(50,173,255,1) 100%);
          }

          .fa-share-square{
            transform: rotate(50deg);
          }
        }
      }
    }
  }

  #posts{

    .update-container{
      max-width: 630px;
      width: 100%;
      margin: 0 auto;

      .author-info{
        display: flex;
        padding: 0 15px;

        .user-img{
          display: inline-block;
          background: url("https://tinyfac.es/data/avatars/8B510E03-96BA-43F0-A85A-F38BB3005AF1-500w.jpeg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          border: 5px solid white;
        }

        .info{
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: .8rem;
          color: $ptext;

          a{
            color: $htext;
            text-decoration: none;
            font-weight: 700;
            margin: 0 5px;
          }
        }
      }

      .media{
        position: relative;

        .image{
          position: relative;
          z-index: 2;
          margin: 25px 0 50px;
          background-position: center center !important;
          background-repeat: no-repeat !important;
          background-size: cover !important;
          height: 300px;
          width: 100%;
          border-radius: 5px;
          -webkit-box-shadow: 0px 38px 48px -21px rgba(30,47,69,1);
          -moz-box-shadow: 0px 38px 48px -21px rgba(30,47,69,1);
          box-shadow: 0px 38px 48px -21px rgba(30,47,69,1);
        }
      }

      .padding-container{
        padding: 0 15px;
      }

      .grey-container{
        z-index: 1;
        position: relative;
        top: -50px;
        padding: 50px 20px;
        background: $backgroundContent;
        -webkit-box-shadow: 0px 32px 48px -21px rgba(30,47,69,0.5);
        -moz-box-shadow: 0px 32px 48px -21px rgba(30,47,69,0.5);
        box-shadow: 0px 32px 48px -21px rgba(30,47,69,0.5);

        .update-info{

          h3{
            text-transform: uppercase;
            font-weight: 600;
            color: $htext;
            line-height: 1.5;
            font-size: 1.3rem;
            margin-bottom: 1rem;
          }

          p{
            color: $ptext;
            line-height: 2;
            font-size: .8rem;
            margin-bottom: 1rem;
          }
        }

        .update-stats{
          display: flex;
          padding: 15px 0;
          border-top: 2px solid $border;
          border-bottom: 2px solid $border;
          margin-bottom: 30px;

          .icon-section{

            .like-circle{
              display: flex;
              align-items: center;
              justify-content: center;
              height: 20px;
              width: 20px;
              font-size: .6rem;
              color: white;
              border-radius: 50%;
              background: linear-gradient(to bottom, #32adff 0%, #0178ff 100%);

              .fa-thumbs-up{
                position: relative;
                top: -1px;
              }
            }
          }

          .other-users{
            width: 70%;
            display: flex;
            padding-left: 10px;
            justify-content: flex-start;
            align-items: center;
            color: $veryLightText;
            font-size: .8rem;
          }

          .comments-stats{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 30%;
            color: $veryLightText;
            font-size: .8rem;
          }
        }

        .compose-comment{
          display: flex;
          justify-content: space-between;
          position: relative;

          textarea{
            position: relative;
            z-index: 2;
            border: none;
            height: 40px;
            width: 100%;
            border-radius: 20px;
            box-shadow: 0 0 15px -3px #bfbfbf;
            overflow: hidden;
          }

          .buttons{
            display: flex;

            .repost-btn{
              height: 40px;
              width: 40px;
              background: white;
              box-shadow: $boxshadowbtns;
              color: $darksideBlue;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              margin-left: 20px;
            }

            .like-btn{
              height: 40px;
              width: 40px;
              background: linear-gradient(135deg, rgba(1,120,255,1) 0%, rgba(50,173,255,1) 100%);
              box-shadow: $boxshadowbtns;
              color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              margin-left: 20px;

              .fa-thumbs-up{

              }
            }
          }
        }
      }
    }
  }

  #messenger{
    height: 800px;
    background: #0178ff;
    background: rgba(1,120,255,1);
    // background: linear-gradient(135deg, rgba(1,120,255,1) 0%, rgba(50,173,255,1) 100%);
    overflow: hidden;

    .messenger-header{
      display: flex;
      box-shadow: 0 0 15px -3px #1b1b1b;
      height: 53.33px;
      background: rgba(1,120,255,1);
      background: linear-gradient(to right, rgba(1,120,255,1) 0%, rgba(50,173,255,1) 100%);
      font-size: 1.2rem;
      padding: 10px 0;
      color: white;

      .messenger-icon{
        height: 33.33px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 20%;
        padding-left: 15px;
      }

      .title{
        width: 50%;
        color: white;
        text-transform: capitalize;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.1rem;
      }


      .options-icon{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 15px;
      }
    }

    .users{
      // padding: 20px 15px;
      height: calc(800px - 131.33px);
      overflow: hidden;

      .users-container{
        box-sizing: content-box;
        padding: 0 15px;
        width: 100%;
        height: 100%;
        overflow: auto;
      }

      .user{
        display: flex;
        padding: 10px 20px 10px 0px;

        &.active{
          .user-img{
            opacity: 1;
          }
          .username{
            font-weight: 700;
            color: white;
          }
          .conversation{
            display: flex;
            opacity: 1;
          }
        }

        &:hover{
          cursor: pointer;

          .user-img{
            opacity: 1;
          }

          .username{
            font-weight: 700;
            color: white;
          }
        }

        .user-img{
          opacity: .8;
          transition: all .5s ease-in-out;
          width: 20%;
        }

        .username{
          width: 60%;
          transition: all .5s ease-in-out;
          padding-left: 15px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          color: #99ccff;
          font-weight: 300;
          font-size: .9rem;
        }

        .conversation{
          width: 20%;
          display: none;
          justify-content: flex-end;
          align-items: center;
          color: white;
        }
      }
    }

    .search{
      background: $searchBG;
      padding: 20px 15px;

      input[type="text"]{
        width: 100%;
        background: $searchInputBG;
        border: none;
        border-radius: 25px;
        font-size: 1rem;
        padding: 10px;
        color: white;

        &::placeholder{
          opacity: 1;
          color: #78b3ef;
        }
      }
    }
  }
}
